# Project
*.env
.env

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media
htmlcov
.coverage
.coverage.*
.DS_Store
.DS_Store?
**/migrations/**
!**/migrations
!**/migrations/__init__.py

### VisualStudioCode template
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/